


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Request From</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @list_of_requests.each do |a_friend| %>

      <% if a_friend.status == "pending" %>
      
      <% #follower = User.where({ :id => a_friend.owner_id}) %>
      <tr>
        <th>
     
        <% username = User.where({ :id => a_friend.owner_id }).at(0) %>

        <%= username.username %>
        </th>
        <th>

          <form action="/accept" method="post">
            <input name="influencer_id" type="hidden" value="<%= session.fetch(:user_id) %>">
            <input name="follower_id" type="hidden" value="<%= a_friend.owner_id %>">

          <button>
            Accept
          </button>
         </form>

        </th>

        <th>
          <form action="/reject"  method="post" >
            <input name="influencer_id" type="hidden" value="<%= session.fetch(:user_id) %>">
            <input name="follower_id" type="hidden" value="<%= a_friend.owner_id %>">

          <button>
            Reject
          </button>
         </form>

        </th>


      <% else %>

      <% end %>
      
      <% end %>
    </tr>
   </tbody>
</table>



