<hr>
<div>
  <div>
    <table border="1">

      <% @list_of_requests.each do |a_friend| %>

      <% if a_friend.status == "pending" %>
      
      <% #follower = User.where({ :id => a_friend.owner_id}) %>
      <tr>
        <td>
     
        <% username = User.where({ :id => a_friend.owner_id }).at(0) %>

        Request from: <%= username.username %>
        </td>
        <td>

          <form action="/accept" method="post">
            <input name="influencer_id" type="hidden" value="<%= session.fetch(:user_id) %>">
            <input name="follower_id" type="hidden" value="<%= a_friend.owner_id %>">

          <button>
            Accept
          </button>
         </form>

         </td>


        <td>
          <form action="/reject"  method="post" >
            <input name="influencer_id" type="hidden" value="<%= session.fetch(:user_id) %>">
            <input name="follower_id" type="hidden" value="<%= a_friend.owner_id %>">

          <button>
            Reject
          </button>
         </form>

        </td>

      <% else %>

      <% end %>
      
      <% end %>
    </table>
  </div>
</div>

<hr>